<div class='header'>
	<div>
	  <%= image_tag 'world.jpg', alt: 'world map' %>
    </div>
    <div>
      <h2>Sign in to Len2</h2>
    </div>
</div>
<div>
  <% if flash[:error] %>
    <%= flash[:error] %>
	<% flash.discard %>
  <% end %>
</div>
<div class='body'>
  <%= form_with scope: :user, url: home_signin_path, local: true do |form| %>
<div>
  <%= form.label 'Email address' %>
</div>
<div>
  <%= form.text_field 'Email address' %>
</div>
<div>
    <%= form.label :password %>
</div>
<div>
    <%= form.text_field :password %>
</div>
<div>
    <%= form.submit 'Sign in' %>
</div>
  <% end %>
</div>
<div class='footer'>
</div>
